.button {
  background-color: var(--blue-dark);
  color: var(--white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.875rem;
  padding: 1rem;
  font-weight: bold;
}

.button:not(:disabled):hover {
  background-color: var(--blue);
}

.button:disabled {
  cursor: not-allowed;
}
